* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: #3a3838; }

.container {
  margin: 0 auto;
  width: 95%;
  height: 100vh; }

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  font-size: 18px; }
  .navbar .nav-link {
    align-items: center;
    margin: 10px; }
    .navbar .nav-link a {
      color: white;
      font-size: 14px; }
  .navbar .nav-link:hover {
    cursor: pointer; }
  .navbar .nav-link:nth-child(4) {
    height: 30px;
    width: 30px;
    background: red;
    border-radius: 50%;
    padding: 2px; }

.center {
  margin: 0 auto;
  width: 80%;
  height: 60vh;
  margin-top: 20vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between; }
  .center .heading {
    font-size: 4rem;
    letter-spacing: 0.6rem; }
  .center input {
    height: 60px;
    width: 50%;
    border-radius: 30px;
    background: white;
    font-size: 1.3rem;
    border: none; }
  .center input:focus {
    transition: all 1s ease-in-out;
    width: 60%;
    border: 2x solid black; }
  .center .bookmarks {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 400px;
    margin: 0 auto; }
    .center .bookmarks li {
      list-style-type: none;
      width: 90px;
      height: 90px;
      background: white;
      margin: 5px;
      border-radius: 50px;
      position: relative; }
      .center .bookmarks li span {
        position: absolute;
        top: 30px;
        left: 35px;
        background: none; }
