*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 100%;
}
nav{
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 50px;
    align-items: center;
    background: rgb(51, 48, 48);
    .brand{
        display: flex;
        .logo{
            padding-left: 20px;
            i{
                padding: 10px;
                color: red;
            }
            color:white;
            font-size: 1.5rem;
            sup{
                font-size: 10px;
            }
        }
    }
    .searchbar{
        // align-items: center;
        input{
            width: 600px;
            height: 30px;
        }
        span{
            height: 100%;
            // width: 100px;
            background: white;
            i{
                margin: 20px;
            }
        }
    }
    .right{
        display: flex;
        padding: 20px;
        div{
            margin: 10px;
            padding: 10px;
        }
    }
}
main{
    display: flex;
    justify-content: flex-start;
    .sidebar{
        background: rgb(51, 48, 48);
        width: 15%;
        .active{
            background: rgb(107, 90, 90)
        }
        div{
            padding: 10px 20px;
            height: 50px;
            a{
                text-decoration: none;
                color: white;
                font-size: 1.7rem;
            }
        }
        div:hover{
            cursor: pointer;
        }
    }
    .body{
        padding:30px;   
        width: 85%;
        background: rgb(22, 21, 21);

        .header{
            font-size: 1.7rem;
            padding-bottom: 20px;
            color: white;
        }
        .videos{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-evenly;
            .video{
                width: 25%;
                height: 300px;
                padding: 10px;
                img{
                    height: 100%;
                    width: 100%;
                }
                .channel{
                    display: flex;
                    justify-content: space-between;
                    .logo{
                        padding: 10px;
                    }
                    .desc{
                        display:flex;
                        flex-direction: column;
                        justify-content: space-between;
                        .title{
                            font-size: 1.2rem;
                            color: white;
                        }
                        .name{
                            color: grey;
                        }
                        .views{
                            color: grey;
                        }
                    }
                }
            }
        }
    }
}